.title{
    padding-top: 50px;
    text-align:center;
    margin-bottom: 30px;    
}

.blockutil1 {
    border: 2px solid blue;
    height: 150px;
    width: 400px;
    margin: auto;
}

.blockutil2 {
    display: flex;
    border: 2px solid blue;
    height: 150px;
    width: 400px;
    margin: auto;
}

.blockutil3 {
    display: flex;
    border: 2px solid blue;
    height: 150px;
    width: 400px;
    margin: auto;
}

.blockutil3a {
    display: flex;
    flex-direction: column;
    border-right: 2px solid red;
    height: auto;
    width: 200px;
}

.blockutil3b {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    width: 200px;
}

.blockutil4 {
    display: flex;
    border: 2px solid blue;
    height: 150px;
    width: 400px;
    margin: auto;
}

.blockutilg1 {
    border: 2px solid blue;
    height: 150px;
    width: 400px;
    margin: auto;
}

.blockutilg2 {
    display: grid;
    border: 2px solid blue;
    height: 150px;
    width: 400px;
    margin: auto;
}

.blockutilg3 {
    display: flex;
    border: 2px solid blue;
    height: 150px;
    width: 400px;
    margin: auto;
}

.blockutilg3a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-right: 2px solid red;
    height: auto;
    width: 200px;
}

.blockutilg3b {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 1.6em 1.6em;
    height: auto;
    width: 200px;
}

.blockutilg4 {
    display: flex;
    border: 2px solid blue;
    height: 150px;
    width: 400px;
    margin: auto;
}

.uti1 {
    color: white;
    background-color: aqua;
    text-align: center;
    height: 25px;
    width: 100px;
    font-size: 20px;
}

.uti2 {
    color: white;
    background-color: blueviolet;
    text-align: center;
    height: 25px;
    width: 100px;
    font-size: 20px;
}

.uti3 {
    color: white;
    background-color: darkolivegreen;
    text-align: center;
    height: 25px;
    width: 100px;
    font-size: 20px;
}

.uti4 {
    color: white;
    background-color: coral;
    text-align: center;
    height: 25px;
    width: 100px;
    font-size: 20px;
}

.uti5 {
    color: white;
    background-color: goldenrod;
    text-align: center;
    height: 25px;
    width: 100px;
    font-size: 20px;
}

.flexboxhistorique{
    flex-wrap: wrap;
    font-size: 14px;
    text-align: center;
    display:flex;
    justify-content: space-around

}
.historiqueflex{
    width: 45%;
    min-width: 400px;
}
.historiquegrid{
    width: 45%;
    min-width: 400px;
    /*faire grid*/
}

.historiquegridtxt{
    /*faire position*/
}
.flexboxutiliser{
    flex-wrap: wrap;
    font-size: 14px;
    text-align: center;
    margin-top:25px;
    display:flex;
    justify-content: space-around;
}
.utiliserflex{
    min-width: 400px;
    height: inherit;
    width:45%;
}
.utilisergrid{
    min-width: 400px;
    height: inherit;
    width: 45%;
    /*faire grid*/
}
.utilisergridtxt{
    /*faire position*/
}
.flexboxnavigateur{
    flex-wrap: wrap;
    font-size: 14px;
    text-align: center;
    margin-top:25px;
    display:flex;
    justify-content: space-around;
}
.navigateurflex{
    min-width: 400px;
    height: inherit;
    width:45%;
}
.navigateurgrid{
    min-width: 400px;
    height: inherit;
    width:45%;
    /*faire grid*/
}
.navigateurgridtxt{
    /*faire position*/
}
.flexboxcomparaison{
    flex-wrap: wrap;
    font-size: 14px;
    text-align: center;
    height: auto;
    margin-top:25px;
    display:flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.comparaisonflex{
    min-width: 400px;
    height: inherit;
    width:45%;
}
.comparaisongrid{
    min-width: 400px;
    height: inherit;
    width:45%;
}
.comparaisongridtxt{
    height: inherit;

    /*faire position*/ 
}
footer{
    background-color: black;
    height: 200px;
    width: 100%;
    margin-bottom: 0px;

}

.jeu {
    text-align:center;
    padding-bottom: 30px;
}
.flexboxjeu{

 height: 1000px;
 margin-bottom: 100px;
 display: flex;
 justify-content: space-around;
 flex-wrap:wrap;
 overflow-wrap:wrap;
}
.jeuflex{
    padding-top: 80px;
    height: inherit;
    width:45%;
    max-width: 649px;
    min-width: 629px;
}
.jeugrid{
    padding-top:80px;
    height: inherit;
    width:45%;
    max-width: 649px;
    min-width: 629px;
}
@media screen and (max-width: 1269px) {
    footer{
      margin-top:  1100px;
      }}
